*{
	box-sizing:border-box;
}

.spinner-group {
	margin:0;
	padding:0;
	background-color: transparent;
	display:flex;
	align-items:center;
	justify-content: center;
	overflow:hidden;
  height: 525px;
}

.container{
	width:500px;
	height:500px;
	background-color: #ccc;
	border-radius:50%;
	border:15px solid #dde;
	position: relative;
	overflow: hidden;
	transition: 5s;
}

.container div{
	height:50%;
	width:100px;
	position: absolute;
	clip-path: polygon(100% 0 , 50% 100% , 0 0 );
	transform:translateX(-50%);
	transform-origin:bottom;
	text-align:center;
	display:flex;
	align-items: center;
	justify-content: flex-start;
	font-size:20px;
	font-weight:bold;
	font-family:sans-serif;
	color:#fff;
	left:200px;
}

.container > div.wedge:first-child{
  left:50%;
}

.container .wedge {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: large;
  padding-top: 10px;
  padding-bottom: 100px;
  white-space: pre;
  text-align: center;
}

.verticle {
  text-orientation: upright;
  writing-mode: vertical-lr;
}

.container .one{
	background-color: #3f51b5;
	left:50%;
}
.container .two{
	background-color: #ff9800;
	transform: rotate(45deg);
}
.container .three{
	background-color: #e91e63;
	transform:rotate(90deg);
}
.container .four{
	background-color: #4caf50;
	transform: rotate(135deg);
}
.container .five{
	background-color: #009688;
	transform: rotate(180deg);
}
.container .six{
	background-color: #795548;
	transform: rotate(225deg);
}
.container .seven{
	background-color: #9c27b0;
	transform: rotate(270deg);
}
.container .eight{
	background-color: #f44336;
	transform: rotate(315deg);
}

@keyframes flick {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 25% 100%;
	}

	15% {
		transform: translateX(-30px) rotate(6deg);
	}

	30% {
		transform: translateX(15px) rotate(-6deg);
	}

	45% {
		transform: translateX(-15px) rotate(3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(-2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(1.2deg);
	}
}

.arrow{
  z-index: 10;
	position: absolute;
	top:50%;
	left:50%;
	transform: translateX(-50%);
	color:#fff;
  text-shadow: -1px -1px 0 rgba(22, 0, 22, 0.836), 
                1px -1px 0 rgba(22, 0, 22, 0.836), 
                -1px 1px 0 rgba(22, 0, 22, 0.836), 
                1px 1px 0 rgba(22, 0, 22, 0.836);
}

.flick-right {
  animation: flick 5s ease 0s 1 normal forwards;
}

.flick-left {
  animation: flick 5s ease 0s 1 normal backwards;
}

.arrow::before{
	content:"\1F817";
	font-size:50px;
}

.spin-btn {
	position: absolute;
	top:79%;
	left:50%;
	transform:translate(-50%,-50%);
	z-index:10;
	background-color: #e2e2e2;
	text-transform: uppercase;
	border:8px solid #fff;
	font-weight:bold;
	font-size:20px;
	color:#a2a2a2;
	width: 80px;
	height:80px;
	font-family: sans-serif;
	border-radius:50%;
	cursor: pointer;
	outline:none;
	letter-spacing: 1px;
}