<div class="spinner-group">
  <button class="spin-btn" [disabled]="moveArrow" (click)="rotateFunction()">Spin</button>
  <span class="arrow" [ngClass]="{ 'flick-left': moveArrow }"></span>
  <div
    class="container"
    [ngStyle]="{ transform: 'rotate(' + rotationDeg + 'deg)' }"
  >
    <div
      class="wedge"
      *ngFor="let wedge of Wedges; index as i"
      [ngClass]="{'verticle': isNumber(wedge.value) || wedge.value === 'BANKRUPT'}"
      [ngStyle]="{
        'background-color': wedge.color,
        'width.px': widthOfWedge,
        'color': (wedge.color === 'black' ? 'white' : 'black'),
        'transform': (i === 0 ? '' : 'rotate(' + calculateWedgeRotation(i) + 'deg)')
      }"
    >{{displayWedgeValue(wedge)}}</div>
  </div>
</div>
