<div class="form-group">
  <form (ngSubmit)="onSubmit()" [formGroup]="saveSettingsForm">
    <label for="maxPlayers">Max Players: </label>
    <input id="maxPlayers" type="number" formControlName="maxPlayers">
    <label for="gameTime">Game Time (min): </label>
    <input id="gameTime" type="number" formControlName="gameTime">
    <label for="bonusTime">Bonus Solve Time (sec): </label>
    <input id="bonusTime" type="number" formControlName="bonusTime">
    <label for="betweenTime">Between Round Time (sec): </label>
    <input id="betweenTime" type="number" formControlName="betweenTime">
    <div class="switch-label-group">
      <div>Tripple Toss Up:</div>
      <label for="trippleTossUp" class="switch">
        <input id="trippleTossUp" type="checkbox" formControlName="trippleTossUp">
        <span class="slider"></span>
      </label>
    </div>
    <label for="roundCount">Rounds: </label>
    <input id="roundCount" type="number" formControlName="roundCount">
    <label for="bonusPuzzleCount">Bonus Puzzles: </label>
    <input id="bonusPuzzleCount" type="number" formControlName="bonusPuzzleCount">
    <button class="button" type="button" (click)="onReset()">Reset</button>
    <button class="button green" type="submit" >Save</button>
  </form>
</div>