.bg-green {
  background-color: green;
}

.bg-white {
  background-color: white;
}

.hidden-cell {
  border-style: hidden;
  background-color: skyblue;
}

/* Outline cells */
tr:first-child > .hidden-cell {
  border-bottom: 5px outset blue;
}
tr:last-child > .hidden-cell {
  border-top: 5px outset blue;
}
tr > .hidden-cell:first-child {
  border-right: 5px outset blue;
}
tr > .hidden-cell:last-child {
  border-left: 5px outset blue;
}
tr > .bg-green:first-child, 
tr > .bg-white:first-child {
  border-left: 5px outset blue;
}
tr > .bg-green:last-child, 
tr > .bg-white:last-child {
  border-right: 5px outset blue;
}
tr:first-child > .bg-green, 
tr:first-child > .bg-white {
  border-top: 5px outset blue;
}

tr:last-child > .bg-green, 
tr:last-child > .bg-white {
  border-bottom: 5px outset blue;
}

.puzzle-table {
  border: 1px hidden blue;
  background-color: silver;
  table-layout: fixed;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 75px;
}
td {
  border: 1px solid black;
  overflow: hidden;
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: xx-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.no-more-vowels {
  width: 25%;
  padding: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: medium;
  background-color: skyblue;
  background: linear-gradient(0deg, skyblue 0%, rgba(0,65,255,1) 100%);
  background-position: bottom 1%;
  color: white;
  text-shadow: -1px -1px 0 rgba(22, 0, 22, 0.836), 
                1px -1px 0 rgba(22, 0, 22, 0.836), 
                -1px 1px 0 rgba(22, 0, 22, 0.836), 
                1px 1px 0 rgba(22, 0, 22, 0.836);
}

.puzzle-title {
  max-width:calc(75px*10);
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: xx-large;
  color: cornsilk;
  text-shadow: -1px -1px 0 rgba(22, 0, 22, 0.836), 
                1px -1px 0 rgba(22, 0, 22, 0.836), 
                -1px 1px 0 rgba(22, 0, 22, 0.836), 
                1px 1px 0 rgba(22, 0, 22, 0.836);
  background-color: rgba(0, 0, 255, 0.5);
  border: 5px groove rgba(0, 0, 139, 0.712);
  box-shadow: 0px 5px 15px darkblue;
}

@media(max-width: 1160px){
  td {
    width: 50px;
    height: 60px;
    font-size:xx-large;
  }

  .puzzle-title {
    max-width:calc(55px*10);
    font-size:xx-large;
  }
}

@media(max-width: 850px){
  td {
    width: 40px;
    height: 50px;
    font-size: x-large;
  }

  .puzzle-title {
    max-width:calc(45px*10);
    font-size: x-large;
  }
}

@media(max-width: 780px){
  td {
    width: 30px;
    height: 40px;
    font-size: large;
  }

  .puzzle-title {
    max-width:calc(35px*10);
    font-size: large;
  }
}

@media(max-width: 500px){
  td {
    width: 20px;
    height: 30px;
    font-size: medium;
  }

  .puzzle-title {
    max-width:calc(25px*10);
    font-size: medium;
  }
}
@media(max-width: 350px){
  td {
    width: 10px;
    height: 20px;
    font-size: small;
  }

  .puzzle-title {
    max-width:calc(15px*10);
    font-size: small;
  }
}

.purple-shadow {
  text-shadow: 
    -1px -1px 0 rgba(22, 0, 22, 0.836), 
    2px -1px 0 rgba(22, 0, 22, 0.836), 
    -1px 3px 0 rgba(22, 0, 22, 0.836), 
    3px 3px 0 rgba(22, 0, 22, 0.836);
}

.emboss-text {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}