<h1 class="game-title">{{name}}</h1>
<app-puzzle-board *ngIf="Mode !== 0" [puzzle]="PuzzleGrid.Puzzle" [title]="PuzzleTitle"></app-puzzle-board>
<h2 [hidden]="Mode === 0" *ngFor="let player of Players">{{player.Name}}: {{player.Score}}</h2>
<button [hidden]="Mode == 0">Restart Game</button>

<button [hidden]="Mode !== 0" [ngClass]="showSettings ? 'toggle-tab-on' : 'toggle-tab-off'" (click)="showSettings = true">Settings</button>
<button [hidden]="Mode !== 0" [ngClass]="!showSettings ? 'toggle-tab-on' : 'toggle-tab-off'" class="button-pad" (click)="showSettings = false">Set Puzzles</button>
<div class="tab-box">
  <app-settings *ngIf="(Mode === 0 && showSettings)" (onSavedChanges)="onSettingsSaved()"></app-settings>
  <app-set-puzzles *ngIf="(Mode === 0 && !showSettings)" [puzzles]="GamePuzzles" [maxPuzzleLength]="maxPuzzleLength()" [gridLength]="GridLength"></app-set-puzzles>
</div> 
