<h1 class="game-title">{{name.toUpperCase()}}</h1>
<div *ngIf="SpinPoints > 0 && LetterCount > 0" class="letter-found">${{SpinPoints.toLocaleString('en')}} * {{LetterCount}} = ${{(SpinPoints * LetterCount).toLocaleString('en')}}</div>
<div></div>
<app-puzzle-board
  *ngIf="Mode !== GameModes.Setup"
  [puzzle]="PuzzleGrid.Puzzle"
  [title]="PuzzleTitle"
  [noMoreVowels]="NoMoreVowels"
></app-puzzle-board>
<br />
<app-score-board
  [hidden]="Mode === GameModes.Setup"
  [players]="Players"
  [displayRound]="displayRoundScores"
></app-score-board>
<br />

<label *ngIf="Mode !== GameModes.Setup && Action === GameActions.GuessLetter && LetterCount === 0">Guess Letter</label>
<input
  type="text"
  *ngIf="Mode !== GameModes.Setup && Action == GameActions.GuessLetter && LetterCount === 0"
  maxlength="1"
  #guessLetter
  (keyup)="onLetterGuess(guessLetter.value)"
/>

<label *ngIf="Mode !== GameModes.Setup && Action === GameActions.Spin">Points</label>
<input
  type="number"
  *ngIf="Mode !== GameModes.Setup && Action == GameActions.Spin"
  #enterPoints
  (keyup)="onEnterPoints(enterPoints.value)"
/>

<label *ngIf="Mode !== GameModes.Setup && Action === GameActions.BuyVowel">Buy Vowel</label>
<input
  type="text"
  *ngIf="Mode !== GameModes.Setup && Action == GameActions.BuyVowel"
  maxlength="1"
  #guessVowel
  (keyup)="onVowelGuess(guessVowel.value)"
/>

<label *ngIf="Mode !== GameModes.Setup && Action === GameActions.GuessPuzzle">Guess Puzzle</label>
<input
  type="text"
  *ngIf="Mode !== GameModes.Setup && Action == GameActions.GuessPuzzle"
  #guessPuzzle
  (keyup)="onPuzzleGuessLetter(guessPuzzle.value)"
/>

<div *ngIf="RoundTimer" class="timer-bar" [ngStyle]="{'width.%': (roundSecondsLeft/RoundTimer.TotalTime) * 100}">{{FormatedRoundSeconds}}</div>
<button class="button red" *ngIf="RoundTimer && !RoundTimer.isPaused" (click)="RoundTimer.pause()">Pause</button>
<button class="button green" *ngIf="RoundTimer && RoundTimer.isPaused" (click)="RoundTimer.resume()">Resume</button>
<button
  *ngIf="Mode !== GameModes.Setup && Action == GameActions.GuessPuzzle"
  class="button green"
  (click)="onPuzzleGuess()"
>
  Submit
</button>
<button
  *ngIf="Mode !== GameModes.Setup && Action === GameActions.None && LetterCount === 0"
  class="button wheel"
  (click)="chooseSpin()"
>
  Spin
</button>
<button
  *ngIf="Mode !== GameModes.Setup && !NoMoreVowels && CanBuyVowel && Action !== GameActions.BuyVowel && (Action === GameActions.None || (LetterCount > 0 && Action !== GameActions.GuessPuzzle))"
  class="button green"
  (click)="chooseBuyVowel()"
>
  Buy Vowel
</button>
<button
  *ngIf="Mode !== GameModes.Setup && Action !== GameActions.Solved && (Action === GameActions.None || (LetterCount > 0 && Action !== GameActions.GuessPuzzle))"
  class="button green"
  (click)="chooseGuessPuzzle()"
>
  Guess Puzzle
</button>
<button
  *ngIf="Mode !== GameModes.Setup && Action !== GameActions.Solved && (LetterCount > 0)"
  class="button green"
  (click)="chooseSkip()"
>
  Skip
</button>
<button
  [hidden]="Mode === GameModes.Setup || Action !== GameActions.Spin"
  class="button green"
  (click)="chooseGuessLetter()"
>
  Guess Letter
</button>
<button
  [hidden]="Mode === GameModes.Setup || Action !== GameActions.Spin"
  class="button"
  (click)="onBankrupt()"
>
  Bankrupt
</button>

<br>
<button [hidden]="Mode == GameModes.Setup" (click)="restartGame()">Restart Game</button>

<button
  [hidden]="Mode !== GameModes.Setup"
  [ngClass]="editSetting === 'settings' ? 'toggle-tab-on' : 'toggle-tab-off'"
  (click)="editSetting = 'settings'"
>
  Settings
</button>
<button
  [hidden]="Mode !== GameModes.Setup"
  [ngClass]="editSetting === 'puzzles' ? 'toggle-tab-on' : 'toggle-tab-off'"
  (click)="editSetting = 'puzzles'"
>
  Set Puzzles
</button>
<button
  [hidden]="Mode !== GameModes.Setup"
  [ngClass]="editSetting === 'players' ? 'toggle-tab-on' : 'toggle-tab-off'"
  (click)="editSetting = 'players'"
>
  Players
</button>
<div class="tab-box">
  <app-settings
    *ngIf="(Mode === GameModes.Setup && editSetting === 'settings')"
    (onSavedChanges)="onSettingsSaved($event)"
  ></app-settings>
  <app-set-puzzles
    *ngIf="(Mode === GameModes.Setup && editSetting === 'puzzles')"
    [puzzles]="GamePuzzles"
    [maxPuzzleLength]="maxPuzzleLength()"
    [gridLength]="GridLength"
    (onSavedChanges)="onPuzzlesSaved($event)"
  ></app-set-puzzles>
  <div
    [hidden]="!(Mode === GameModes.Setup && editSetting === 'players')"
    class="form-group"
  >
    <input
      [hidden]="Players.length >= Settings.MaxPlayerCount"
      #newPlayerName
      type="text"
      placeholder="Player Name"
    />
    <button
      class="button green"
      [hidden]="Players.length >= Settings.MaxPlayerCount"
      (click)="addPlayer(newPlayerName.value);newPlayerName.value = '';"
    >
      Add Player
    </button>
    <span>{{Players.length}} of {{Settings.MaxPlayerCount}}</span>
    <ul>
      <li *ngFor="let player of Players; index as i">
        <div class="player-choice-box">
          <div class="player-choice-name">{{player.Name}}</div>
          <div [ngStyle]="{'background-color': player.Color, 'padding': '10px'}"></div>
          <button class="button-sm red" (click)="removePlayer(i)">x</button>
        </div>
      </li>
    </ul>
  </div>
</div>
<button
  *ngIf="Mode === GameModes.Setup && Players.length > 1"
  class="button green"
  (click)="startGame()"
>
  Start Game
</button>
